<!DOCTYPE html>
<html lang="en" dir="ltr" >

<head>
  <meta charset="utf-8">
  <title>Sunny Agencies</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">Sunny Agencies</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li id="home"><a href="/"><p>HOME</p></a></li>
            <li id="about"><a href="/about"><p>ABOUT</p></a></li>
            <li id="contact"><a href="/contact"><p>CONTACT US</p></a></li>
          </ul>
      </div>
    </nav>
    
    <body class="flex-wrapper">
      <div class="container">

        